.navbar .nav-link {
  font-size: 12px;
  text-transform: uppercase;
}

.navbar .nav-item.active {
  border-left: 3px solid rgb(92, 90, 90);
}

.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: linear-gradient(rgba(150, 30, 30, 0.863), rgba(19, 17, 17, 0.45)),
    url("../img/beach-2836300_1280.jpg");
  background-size: cover;
}

.carousel-image-2 {
  background: linear-gradient(
      rgba(204, 207, 224, 0.87),
      rgba(130, 141, 145, 0.45)
    ),
    url("../img/oia-416135_1920.jpg");
  background-size: cover;
}

.carousel-image-3 {
  background: linear-gradient(
      rgba(202, 198, 198, 0.712),
      rgba(202, 191, 191, 0.45)
    ),
    url("../img/paris-843229_1920.jpg");
  background-size: cover;
}
.carousel-image-4 {
  background: linear-gradient(rgba(34, 33, 33, 0.788), rgba(7, 3, 3, 0.45)),
    url("../img/travel-1749508_1920.jpg");
  background-size: cover;
}

#heading {
  position: relative;
  min-height: 300px;
  background: url("../img/airport-2373727_1920.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(19, 17, 17, 0.5);
}

#play {
  position: relative;
  min-height: 300px;
  background: url("../img/hands-600497_1920.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: auto 1000px;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

#play a {
  color: white;
}

.box {
  height: 200px;
  width: 360px;
}
